body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: #222;
    color:  #378c9fa0;
    padding: 20px;
    text-align: center;
}

nav {
    background: #444;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 12px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    flex-wrap: wrap;
}

.producto {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.producto img {
    width: 100%;
    border-radius: 5px;
}

button {
    background: #222;
    color: #51379f;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
}

button:hover {
    background: #555;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: rgba(16, 14, 14, 0.852);
    margin-top: 20px;
}